*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

# собранные APK/AAB (Build > Generate Signed Bundle / APK)
/app/release
/app/debug
*.apk
*.aab

# личные настройки Android Studio
/.idea/caches
/.idea/dictionaries
/.idea/deploymentTargetSelector.xml
/.idea/deviceManager.xml
/.idea/appInsightsSettings.xml
/.idea/AndroidProjectSystem.xml
/.idea/misc.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/studiobot.xml
/.idea/other.xml
/.kotlin
